.fill-viewport-height{
    min-height: 90vh;
}

.postsContainer {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  small {
    display: block;
    margin-bottom: 20px;
    color: #888;
  }